:root {
  --main-green: #1dbf73;
  --deep-green: #013914;
  --lemon-bcg: #f1fdf7;
  --gray: rgb(67, 67, 67);
  --lighter-gray: rgb(149, 151, 157);
  --light-gray: #f5f5f5;
  --blue: rgb(13, 8, 77);
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
